* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 56.25%;
}

body {
  background-color: #f3eae3;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10rem auto 2rem auto;
  /* height: 100vh; */
  max-width: 70rem;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 2rem;
}

.description {
  padding: 4rem;
  background-color: #fff;
}

.product-image {
  /* background-image: url(images/image-product-desktop.jpg),
    linear-gradient(hsl(212, 21%, 4%), hsl(228, 12%, 18%)); */
  background-image: linear-gradient(
      to bottom,
      hsla(212, 21%, 14%, 0.09),
      hsla(212, 21%, 14%, 0.09)
    ),
    url(images/image-product-desktop.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
}

.product-kind {
  font-size: 1.4rem;
  font-family: Montserrat;
  font-weight: 500;
  color: #7c7c85;
  margin-bottom: 2.5rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.prd-h {
  font-size: 3.6rem;
  line-height: 1;
  color: #1e242a;
  font-family: fraunces;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.prd-exp {
  color: #7c7c85;
  font-family: Montserrat;
  font-size: 1.6rem;
  line-height: 1.7;
  margin-bottom: 2.5rem;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  margin-bottom: 2.5rem;
}

.price-now {
  color: #3b7f68;
  font-size: 3.6rem;
  font-family: Fraunces;
}

.price-past {
  color: #545558de;
  font-size: 1.6rem;
  font-family: Montserrat;
  text-decoration: line-through;
}

.btn-div {
  display: flex;
  justify-content: center;
}

.btn-icon {
}

.btn,
.btn:visited {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.6rem;
  background-color: #3d8168;
  border-radius: 10px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #1a4031;
  cursor: pointer;
}

.developer-div {
  text-align: center;
  margin-bottom: 5rem;
}

.creator {
  font-family: Montserrat;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.challenge-from:link,
.challenge-from:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: rgb(20, 34, 226);
  font-family: Montserrat;
  transition: all 0.3s;
}

.challenge-from:hover {
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}

/* 
Montserrat 500 700
Fraunces 700
*/
